<script src="https://kit.fontawesome.com/4901d39935.js" crossorigin="anonymous"></script>
<!--<h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>-->


<div class="row">
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>